[submodule "minianimate"]
        path = pack/animations/start/mini.animate 
        url = https://github.com/echasnovski/mini.animate
[submodule "conformnvim"]
        path = pack/formatter/start/conform.nvim 
        url = https://github.com/stevearc/conform.nvim 
[submodule "gitsignsnvim"]
        path = pack/gitsigns/start/gitsigns.nvim
        url = https://github.com/lewis6991/gitsigns.nvim 
[submodule "grugfarnvim"]
        path = pack/grug-far/start/grug-far.nvim
        url = https://github.com/MagicDuck/grug-far.nvim 
[submodule "nvimlint"]
        path = pack/nvim-lint/start/nvim-lint
        url = https://github.com/mfussenegger/nvim-lint 
[submodule "nvimlspconfig"]
        path = pack/lsp/start/nvim-lspconfig
        url =  https://github.com/neovim/nvim-lspconfig
[submodule "lualinenvim"]
        path = pack/lualine/start/lualine.nvim
        url = https://github.com/nvim-lualine/lualine.nvim 
[submodule "minipairs"]
        path = pack/minipairs/start/mini.pairs
        url = https://github.com/echasnovski/mini.pairs 
